.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50vh;
}

button {
  padding: 30px;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: darkcyan;
  color: white;
  font-size: 20px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

/* button:hover {
  box-shadow: 8px 8px 16px 16px rgba(0.2, 0.2, 0.2, 0.2);
} */
